Repository PaNGalaxy/galaxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/admin, area/API, area/client, area/datatypes, area/dependencies, area/documentation, area/jobs, area/libraries, area/objectstore, area/packaging, area/reports, area/scripts, area/security, area/testing, area/testing/api, area/testing/integration, area/testing/selenium, area/tool-dependencies, area/tool-framework, area/tools, area/toolshed, area/UI-UX, area/util, area/visualizations, area/workflows

.github/labeler.yml:

---
area/admin:
  - client/src/components/admin/**/*
  - doc/source/admin/**/*
area/API:
  - lib/galaxy/webapps/galaxy/api/**/*
area/client:
  - client/*
area/datatypes:
  - lib/galaxy/datatypes/**/*
  - lib/galaxy/config/sample/datatypes_conf.xml.sample
area/dependencies:
  - lib/galaxy/dependencies/**/*
area/documentation:
  - doc/**/*
area/jobs:
  - lib/galaxy/jobs/**/*
area/libraries:
  - client/src/components/LibraryFolder/**/*
  - lib/galaxy/webapps/galaxy/api/libraries.py
area/objectstore:
  - lib/galaxy/objectstore/**/*
area/packaging:
  - packages/**/*
area/reports:
  - client/src/reports/**/*
  - lib/galaxy/webapps/reports/**/*
  - templates/webapps/reports/**/*
area/scripts:
  - scripts/**/*
area/security:
  - lib/galaxy/security/**/*
area/testing:
  - lib/galaxy_test/**/*
  - run_tests.sh
  - test/**/*
  - test-data/**/*
area/testing/api:
  - lib/galaxy_test/api/**/*
area/testing/integration:
  - test/integration/**/*
  - test/integration_selenium/**/*
area/testing/selenium:
  - lib/galaxy/selenium/**/*
  - lib/galaxy_test/selenium/**/*
area/tool-dependencies:
  - lib/galaxy/tool_util/deps/**/*
area/tool-framework:
  - lib/galaxy/tools/**/*
  - lib/galaxy/tool_util/**/*
  - lib/galaxy/webapps/galaxy/api/tools.py
area/tools:
  - tools/**/*
  - tool-data/**/*
area/toolshed:
  - client/src/toolshed/**/*
  - lib/galaxy/webapps/galaxy/api/toolshed.py
  - lib/toolshed/**/*
  - templates/webapps/tool_shed/**/*
area/UI-UX:
  - client/src/**/*
  - templates/**/*
area/util:
  - lib/galaxy/util/**/*
area/visualizations:
  - config/plugins/visualizations/**/*
area/workflows:
  - lib/galaxy/workflow/**/*

add config file for gitlab
  .gitlab-ci.yml
Labels: none

add dockerfiles
  .dockerignore.full
  .dockerignore.src
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.full
Labels: none

add remote dataset and remote broker config
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/datatypes/data.py
  lib/galaxy/job_execution/datasets.py
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/admin, area/datatypes, area/documentation, area/jobs

add an option to expose oidc token to a tool
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/evaluation.py
Labels: area/tool-framework

fix .gitlab-ci.yml
  .gitlab-ci.yml
Labels: none

add remote data broker object store
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/rdb.py
Labels: area/objectstore

update rdb
  .gitignore
  lib/galaxy/objectstore/rdb.py
Labels: area/objectstore

update rdb object store
  lib/galaxy/objectstore/rdb.py
Labels: area/objectstore

call delete rdb endpoint
  lib/galaxy/objectstore/rdb.py
Labels: area/objectstore

implement get_data for rdb
  lib/galaxy/objectstore/rdb.py
Labels: area/objectstore

Added .dat type
  .gitignore
  lib/galaxy/datatypes/text.py
Labels: area/datatypes

add oidc tokens to user model and expose it in api
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
Labels: none

allow injecting oidc tokens to job environment
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/evaluation.py
Labels: area/tool-framework

refresh oidc tokens during transaction processing
  database/info.txt
  lib/galaxy/authnz/__init__.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/webapps/base/webapp.py
Labels: none

Add temp fs.sshfs files
  lib/galaxy/files/sources/sshfs/__init__.py
  lib/galaxy/files/sources/sshfs/_version.txt
  lib/galaxy/files/sources/sshfs/error_tools.py
  lib/galaxy/files/sources/sshfs/file.py
  lib/galaxy/files/sources/sshfs/sshfs.py
Labels: none

Add custom sshfs implementation
  lib/galaxy/files/sources/sshfs/sshfs.py
  lib/galaxy/files/sources/sshoidc.py
Labels: none

Fix issues with oidc file source
  lib/galaxy/files/sources/sshfs/error_tools.py
  lib/galaxy/files/sources/sshfs/file.py
  lib/galaxy/files/sources/sshfs/sshfs.py
  lib/galaxy/files/sources/sshoidc.py
Labels: none

logout if oidc token cannot be refreshed
  lib/galaxy/webapps/base/webapp.py
Labels: none

add file source parameters, fix token update
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/files/sources/sshoidc.py
Labels: none

refresh azure tokens using msal
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/files/sources/sshoidc.py
  pyproject.toml
Labels: none

get oidc token from dynamical config of the sshoidc file source
  lib/galaxy/files/sources/sshoidc.py
Labels: none

update dependencies to add msal and sshf-fs
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/update_lint_requirements.sh
  pyproject.toml
Labels: area/dependencies

add display component
  client/src/components/DatasetInformation/DatasetDisplay.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/entry/analysis/AnalysisRouter.js
Labels: area/UI-UX

open a confirmation page when trying to view large file
  client/src/components/DatasetInformation/DatasetDisplay.test.js
  client/src/components/DatasetInformation/DatasetDisplay.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/entry/analysis/AnalysisRouter.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/admin, area/documentation, area/UI-UX

cleanup comments
  client/src/components/History/Content/ContentItem.vue
  client/src/entry/analysis/AnalysisRouter.js
Labels: area/UI-UX

remove example from sshfs docs to avoid tests
  lib/galaxy/files/sources/sshfs/sshfs.py
Labels: none

check user class before refreshing token
  lib/galaxy/webapps/base/webapp.py
Labels: none

added test execution to gitlab
  .gitlab-ci.yml
Labels: none

added test execution to gitlab
  .gitlab-ci.yml
Labels: none

remove example from sshfs docs to avoid tests
  lib/galaxy/files/sources/sshfs/sshfs.py
Labels: none

check user class before refreshing token
  lib/galaxy/webapps/base/webapp.py
Labels: none

remove integration tests
  .gitlab-ci.yml
Labels: none

fix pages test
  lib/galaxy_test/api/test_pages.py
Labels: area/testing, area/testing/api

get rid of remote flag in datasets
  lib/galaxy/datatypes/data.py
  lib/galaxy/job_execution/datasets.py
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/datatypes, area/jobs

an attempt to fix a client test
  client/src/components/ToolsView/ToolsView.test.js
Labels: area/UI-UX

allow failure for api tests
  .gitlab-ci.yml
Labels: none

manual job for api tests
  .gitlab-ci.yml
Labels: none

open a confirmation page when trying to view large file
  client/src/components/DatasetInformation/DatasetDisplay.test.js
  client/src/components/DatasetInformation/DatasetDisplay.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/entry/analysis/AnalysisRouter.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/admin, area/documentation, area/UI-UX

cleanup comments
  client/src/components/History/Content/ContentItem.vue
  client/src/entry/analysis/AnalysisRouter.js
Labels: area/UI-UX

preview for binary files and warning on large file download
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/History/Content/Dataset/DatasetDownload.test.js
  client/src/components/History/Content/Dataset/DatasetDownload.vue
  client/src/components/History/Content/Dataset/mixins.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/datatypes/data.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/services/datasets.py
  templates/webapps/galaxy/dataset/binary_file.mako
  templates/webapps/galaxy/dataset/large_file_download_warning.mako
Labels: area/admin, area/API, area/datatypes, area/documentation, area/UI-UX
