Repository PaNGalaxy/galaxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/admin, area/API, area/client, area/datatypes, area/dependencies, area/documentation, area/jobs, area/libraries, area/objectstore, area/packaging, area/reports, area/scripts, area/security, area/testing, area/testing/api, area/testing/integration, area/testing/selenium, area/tool-dependencies, area/tool-framework, area/tools, area/toolshed, area/UI-UX, area/util, area/visualizations, area/workflows

.github/labeler.yml:

---
area/admin:
  - client/src/components/admin/**/*
  - doc/source/admin/**/*
area/API:
  - lib/galaxy/webapps/galaxy/api/**/*
area/client:
  - client/*
area/datatypes:
  - lib/galaxy/datatypes/**/*
  - lib/galaxy/config/sample/datatypes_conf.xml.sample
area/dependencies:
  - lib/galaxy/dependencies/**/*
area/documentation:
  - doc/**/*
area/jobs:
  - lib/galaxy/jobs/**/*
area/libraries:
  - client/src/components/LibraryFolder/**/*
  - lib/galaxy/webapps/galaxy/api/libraries.py
area/objectstore:
  - lib/galaxy/objectstore/**/*
area/packaging:
  - packages/**/*
area/reports:
  - client/src/reports/**/*
  - lib/galaxy/webapps/reports/**/*
  - templates/webapps/reports/**/*
area/scripts:
  - scripts/**/*
area/security:
  - lib/galaxy/security/**/*
area/testing:
  - lib/galaxy_test/**/*
  - run_tests.sh
  - test/**/*
  - test-data/**/*
area/testing/api:
  - lib/galaxy_test/api/**/*
area/testing/integration:
  - test/integration/**/*
  - test/integration_selenium/**/*
area/testing/selenium:
  - lib/galaxy/selenium/**/*
  - lib/galaxy_test/selenium/**/*
area/tool-dependencies:
  - lib/galaxy/tool_util/deps/**/*
area/tool-framework:
  - lib/galaxy/tools/**/*
  - lib/galaxy/tool_util/**/*
  - lib/galaxy/webapps/galaxy/api/tools.py
area/tools:
  - tools/**/*
  - tool-data/**/*
area/toolshed:
  - client/src/toolshed/**/*
  - lib/galaxy/webapps/galaxy/api/toolshed.py
  - lib/toolshed/**/*
  - templates/webapps/tool_shed/**/*
area/UI-UX:
  - client/src/**/*
  - templates/**/*
area/util:
  - lib/galaxy/util/**/*
area/visualizations:
  - config/plugins/visualizations/**/*
area/workflows:
  - lib/galaxy/workflow/**/*

fix linting
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/authnz/util.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/evaluation.py
Labels: area/tool-framework

fix tests
  lib/galaxy/authnz/managers.py
  lib/galaxy/webapps/base/webapp.py
Labels: none

fix issues when app has no authnz_manager attribute
  lib/galaxy/webapps/base/webapp.py
Labels: none

return tokens as dictionary
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/evaluation.py
Labels: area/tool-framework

do not validate OIDC provider while parsing a tool file
  lib/galaxy/tool_util/parser/xml.py
Labels: area/tool-framework

add msal (azure ad) package dependency
  packages/data/setup.cfg
Labels: area/packaging

fix linting
  lib/galaxy/authnz/psa_authnz.py
Labels: none

fix get username from token
  lib/galaxy/jobs/runners/__init__.py
Labels: area/jobs

fix extra parameters in display data
  lib/galaxy/datatypes/data.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: area/API, area/datatypes

fix filesize calculation for display function
  lib/galaxy/datatypes/data.py
Labels: area/datatypes

pass OIDC token endpoint to Pulsar
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/jobs

create an endpoint to get an OIDC token
  lib/galaxy/authnz/managers.py
  lib/galaxy/webapps/galaxy/api/job_tokens.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/API

move pulsar secret to plugin parameters
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/webapps/galaxy/api/job_tokens.py
Labels: area/API, area/jobs

cleanup rucio object store
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

add rucio scope as object store parameter
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

build objectstore package
  .gitlab-ci.yml
Labels: none

install build package
  .gitlab-ci.yml
Labels: none

install twine package
  .gitlab-ci.yml
Labels: none

fix file permissions when uploading to rucio
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

automatically test on commit
  .gitlab-ci.yml
Labels: none

implement _update_from_file for HierarchicalObjectStore
  lib/galaxy/objectstore/__init__.py
Labels: area/objectstore

fix behavior when object store file was not touch in Galaxy yet
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

rucio - allow upload empty files
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

change tokens to sync with code in PR
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/job_tokens.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/API, area/jobs, area/tool-framework

remove failing test
  test/unit/util/test_get_url.py
Labels: area/testing

add option to inget files to rucio object store
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

Load stdout when requesting job status
  lib/galaxy/managers/jobs.py
Labels: none

add trans to object store calls
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/isa.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/spaln.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
Labels: area/datatypes

add option to set rse/scheme for download
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

bugfix
  lib/galaxy/managers/hdcas.py
Labels: none

bump object store version
  .gitlab-ci.yml
  packages/objectstore/setup.cfg
Labels: area/packaging

add an option to ignore checksum for rucio object store
  lib/galaxy/objectstore/rucio.py
  packages/objectstore/setup.cfg
Labels: area/objectstore, area/packaging

add RegisterToolAction
  lib/galaxy/tools/actions/upload.py
Labels: area/tool-framework

Provide an option to get stdout as part of api status request
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/api/job_files.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: area/API, area/jobs

Make stdout code display scrollable and auto scroll
  client/src/components/JobInformation/CodeRow.vue
Labels: area/UI-UX

Fix negative offset error with too large a stdout page size in jobs.py
  lib/galaxy/managers/jobs.py
Labels: none

Update paging for job information std out
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/providers/JobProvider.js
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: area/API, area/UI-UX

Refactor stdout loading in job details screen to keep stdout in memory
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/providers/JobProvider.js
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: area/API, area/UI-UX

Read working directory from object store instead of hard coding it
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/managers/jobs.py
Labels: area/jobs

add oidc_provider to rucio plugin dictionary
  lib/galaxy/objectstore/rucio.py
  packages/objectstore/setup.cfg
Labels: area/objectstore, area/packaging
