Repository PaNGalaxy/galaxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/admin, area/API, area/client, area/datatypes, area/dependencies, area/documentation, area/jobs, area/libraries, area/objectstore, area/packaging, area/reports, area/scripts, area/security, area/testing, area/testing/api, area/testing/integration, area/testing/selenium, area/tool-dependencies, area/tool-framework, area/tools, area/toolshed, area/UI-UX, area/util, area/visualizations, area/workflows

.github/labeler.yml:

---
area/admin:
  - client/src/components/admin/**/*
  - doc/source/admin/**/*
area/API:
  - lib/galaxy/webapps/galaxy/api/**/*
area/client:
  - client/*
area/datatypes:
  - lib/galaxy/datatypes/**/*
  - lib/galaxy/config/sample/datatypes_conf.xml.sample
area/dependencies:
  - lib/galaxy/dependencies/**/*
area/documentation:
  - doc/**/*
area/jobs:
  - lib/galaxy/jobs/**/*
area/libraries:
  - client/src/components/LibraryFolder/**/*
  - lib/galaxy/webapps/galaxy/api/libraries.py
area/objectstore:
  - lib/galaxy/objectstore/**/*
area/packaging:
  - packages/**/*
area/reports:
  - client/src/reports/**/*
  - lib/galaxy/webapps/reports/**/*
  - templates/webapps/reports/**/*
area/scripts:
  - scripts/**/*
area/security:
  - lib/galaxy/security/**/*
area/testing:
  - lib/galaxy_test/**/*
  - run_tests.sh
  - test/**/*
  - test-data/**/*
area/testing/api:
  - lib/galaxy_test/api/**/*
area/testing/integration:
  - test/integration/**/*
  - test/integration_selenium/**/*
area/testing/selenium:
  - lib/galaxy/selenium/**/*
  - lib/galaxy_test/selenium/**/*
area/tool-dependencies:
  - lib/galaxy/tool_util/deps/**/*
area/tool-framework:
  - lib/galaxy/tools/**/*
  - lib/galaxy/tool_util/**/*
  - lib/galaxy/webapps/galaxy/api/tools.py
area/tools:
  - tools/**/*
  - tool-data/**/*
area/toolshed:
  - client/src/toolshed/**/*
  - lib/galaxy/webapps/galaxy/api/toolshed.py
  - lib/toolshed/**/*
  - templates/webapps/tool_shed/**/*
area/UI-UX:
  - client/src/**/*
  - templates/**/*
area/util:
  - lib/galaxy/util/**/*
area/visualizations:
  - config/plugins/visualizations/**/*
area/workflows:
  - lib/galaxy/workflow/**/*

add display component
  client/src/components/DatasetInformation/DatasetDisplay.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/entry/analysis/AnalysisRouter.js
Labels: area/UI-UX

refactor display_data
  lib/galaxy/datatypes/data.py
Labels: area/datatypes

rollback file display behavior
  client/src/components/DatasetInformation/DatasetDisplay.test.js
  client/src/components/DatasetInformation/DatasetDisplay.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/entry/analysis/AnalysisRouter.js
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/UI-UX

get rid of side effect in dataset.file_name
  lib/galaxy/datatypes/data.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/rdb.py
Labels: area/datatypes, area/objectstore

do not pull from cache for large file warning
  lib/galaxy/datatypes/data.py
Labels: area/datatypes

pull file to cache for other datatypes
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/isa.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/spaln.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
Labels: area/datatypes

pull to cache before archiving
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/data.py
Labels: area/datatypes

more timeout for a failing client test
  client/src/components/ToolsView/ToolsView.test.js
Labels: area/UI-UX

an option to separate command and metadata command for pulsar
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/jobs

implement update_cache for nested objectstore
  lib/galaxy/objectstore/__init__.py
Labels: area/objectstore

fix exception for refresh_token
  lib/galaxy/authnz/managers.py
Labels: none

avoid duplicate extensions when downloading collections
  lib/galaxy/managers/hdcas.py
  lib/galaxy/model/store/discover.py
Labels: none

implement refresh for keycloak idp
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/webapps/base/webapp.py
Labels: none

do not use mako template when display datasets API called without preview flag
  lib/galaxy/datatypes/data.py
Labels: area/datatypes

add rucio plugin
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

use md5 checksum for rucio storage plugin
  lib/galaxy/objectstore/rucio.py
Labels: area/objectstore

fix dependencies
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: area/dependencies

get rid of remote data broker
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/rdb.py
Labels: area/admin, area/documentation, area/objectstore

use OIDCTransport as transport factory for sshoidc filesource
  lib/galaxy/files/sources/sshfs/__init__.py
  lib/galaxy/files/sources/sshfs/_version.txt
  lib/galaxy/files/sources/sshfs/error_tools.py
  lib/galaxy/files/sources/sshfs/file.py
  lib/galaxy/files/sources/sshfs/sshfs.py
  lib/galaxy/files/sources/sshoidc.py
Labels: none

update paramiko dependency
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: area/dependencies

get user to run inside a Docker container from OIDC token
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/deps/docker_util.py
Labels: area/jobs, area/tool-dependencies, area/tool-framework

use pysam version 0.19.1 to fix tests
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies

Add h5web visualizer for HDF5 datasets. See https://github.com/silx-kit/h5web
  client/gulpfile.js
  config/plugins/visualizations/h5web/config/h5web.xml
  config/plugins/visualizations/h5web/package.json
  config/plugins/visualizations/h5web/src/script.js
  config/plugins/visualizations/h5web/static/logo.png
  config/plugins/visualizations/h5web/static/script.css
  lib/galaxy/datatypes/binary.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: area/API, area/client, area/datatypes, area/visualizations

Add dev requirement for h5grove
  lib/galaxy/dependencies/dev-requirements.txt
Labels: area/dependencies

Remove ajax call to avoid dataset download.
  config/plugins/visualizations/h5web/src/script.js
Labels: area/visualizations

add h5grove dependency to poetry
  pyproject.toml
Labels: none

Use h5grove to improve error handling
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes

Add not_isinstance test for visualization data source.
  config/plugins/visualizations/editor/config/editor.xml
  lib/galaxy/visualization/plugins/config_parser.py
  lib/galaxy/visualization/plugins/registry.py
Labels: area/visualizations

Adding path element to avoid conflict with dataset api.
  config/plugins/visualizations/h5web/src/script.js
  lib/galaxy/datatypes/binary.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: area/API, area/datatypes, area/visualizations

add h5grove to production dependencies
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies

Remove StrictMode
  config/plugins/visualizations/h5web/src/script.js
Labels: area/visualizations

removed unused line
  config/plugins/visualizations/h5web/config/h5web.xml
Labels: area/visualizations

use dataset.id instread of dataset.dataset_id in h5web visualisation
  config/plugins/visualizations/h5web/src/script.js
Labels: area/visualizations

do not open login from on logout
  client/src/layout/menu.js
Labels: area/UI-UX

fix hostname parsing for newer Docker versions
  lib/galaxy/tool_util/deps/docker_util.py
Labels: area/tool-dependencies, area/tool-framework

fix formatting
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/webapps/base/webapp.py
Labels: area/tool-framework

add provider name to token inject keywords
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/authnz/util.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/evaluation.py
Labels: area/tool-framework

fix oidc token refresh and expose in case of multiple providers
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/base/webapp.py
Labels: none

fix linting
  lib/galaxy/authnz/managers.py
  lib/galaxy/tools/evaluation.py
Labels: area/tool-framework

refresh all oidc token
  lib/galaxy/authnz/__init__.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/base/webapp.py
Labels: none
